---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=Placeholder%20Customer&card[number]=4242424242424242&card[exp_month]=5&card[exp_year]=2015&card[name]=Ben%20Lewis
    headers:
      Authorization:
      - Bearer sk_test_GafHaiIb4ySidtoYKXcxdAWq
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1363933682,
          "id": "cus_1VPTGZFvhVXdTS",
          "livemode": false,
          "description": "Placeholder Customer",
          "active_card": {
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 5,
            "exp_year": 2015,
            "fingerprint": "Wky4gIcxka7OZjnQ",
            "country": "US",
            "name": "Ben Lewis",
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": null,
            "address_line1_check": null,
            "address_zip_check": null
          },
          "email": null,
          "delinquent": false,
          "subscription": null,
          "discount": null,
          "account_balance": 0
        }
  recorded_at: Fri, 22 Mar 2013 06:28:03 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=100&currency=usd&customer=cus_1VPTGZFvhVXdTS
    headers:
      Authorization:
      - Bearer sk_test_GafHaiIb4ySidtoYKXcxdAWq
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1VPTKltKmhR473",
          "object": "charge",
          "created": 1363933683,
          "livemode": false,
          "paid": true,
          "amount": 100,
          "currency": "usd",
          "refunded": false,
          "fee": 33,
          "fee_details": [
            {
              "amount": 33,
              "currency": "usd",
              "type": "stripe_fee",
              "description": "Stripe processing fees",
              "application": null,
              "amount_refunded": 0
            }
          ],
          "card": {
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 5,
            "exp_year": 2015,
            "fingerprint": "Wky4gIcxka7OZjnQ",
            "country": "US",
            "name": "Ben Lewis",
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": null,
            "address_line1_check": null,
            "address_zip_check": null
          },
          "captured": true,
          "failure_message": null,
          "amount_refunded": 0,
          "customer": "cus_1VPTGZFvhVXdTS",
          "invoice": null,
          "description": null,
          "dispute": null
        }
  recorded_at: Fri, 22 Mar 2013 06:28:03 GMT
recorded_with: VCR 2.4.0
