<div class="page-header">
  <h1 class="client-header">
    <%= @client.name %>
  </h1>
</div>

<div class="tabbable">
  <ul class="nav nav-tabs nav-pills thin">
    <li class="active"><a href="#stripe" data-toggle="tab">Credit Card</a></li>
    <li><a href="#bitcoins" data-toggle="tab">Bitcoins</a> </li>
    <li><a href="#paypal" data-toggle="tab">Paypal</a> </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="stripe">
      <%= render :partial => 'stripe_card', :locals => { :stripe_card => @stripe_card } %>
    </div>
    <div class="tab-pane" id="bitcoins">
      <p>I'm Bitcoins</p>
    </div>
    <div class="tab-pane" id="paypal">
      <p>I'm Paypal</p>
    </div>
  </div>
</div>
